.igProd a {
    text-decoration: none;
}

.instagramProductos {
    grid-area: instagram;
    font-size: 20px;
    text-align: right;
    padding-right: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: $color2;

}
.productos{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    .producto{
        width: 100%;
        height: 430px;
        background-color: aqua;
        border: 2px solid black;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 20px;
        .imgProducto{
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            img{
                width:auto;
                height: 95%;
            }
        }
        .datosProducto{
            height: 20%;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
           .nombreProducto{
            text-align: center;
               p{
                   margin-bottom: 0%;
               }
        
           }
           .agregar{
            display: flex;
            justify-content: center;
           }
        }
    }
}